*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    padding: 20px;
    text-align: center;
    font-weight: bold;
}
.col{
    
    border: 1px solid gray;
    margin: 20px;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.upperbox img{
    width: 100%;
   
}
.upperbox p{
    padding:10px 20px 30px;
}
.footerbox{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footerbox button{
    all: unset;
    background-color: rgb(73, 188, 238);
    padding: 10px;
    border-radius: 5px;
}
.divider{
    border: none;
    height: 1px;
    background-color: gray;
   
}